body {
    align-items: center;
    color: rgb(237,237,237);
    background-color: rgb(226, 242, 253);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #000;
    border-radius: 20px;
    padding: 35px 40px;
    width: 780px;
}

.container header {
    align-items: center;
    color: #b2b2b2;
    display: flex;
    justify-content: space-between;
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    align-items: center;
    display: flex;
}

header .column span {
    font-size: 1.19rem;
    font-weight: 500;
    margin-right: 15px;
}

.volume-slider input {
    accent-color: #e2e2e2;
}

.keys-check input {
    appearance: none;
    background-color: #4b4b4b;
    border-radius: 30px;
    cursor: pointer;
    height: 30px;
    position: relative;
    width: 60px;
}

.keys-check input::before {
    background-color: #8c8c8c;
    border-radius: inherit;
    content: "";
    height: 20px;
    left: 0.3rem;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.3s ease-out;
    top: 50%;
    width: 20px;
}

.keys-check input:checked:before {
    background-color: #e2e2e2;
    left: 2.1rem;
}

.piano-keys {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.piano-keys .key {
    cursor: pointer;
    list-style: none;
    position: relative;
    text-transform: uppercase;
    user-select: none;
}

.piano-keys .white {
    background-image: linear-gradient(rgb(237,237,237) 96%, rgb(255,255,255) 4%);
    border: 1px solid #222;
    border-radius: 8px;
    color: #222;
    height: 230px;
    width: 70px;
}

.piano-keys .black {
    background-image: linear-gradient(rgb(0,0,0), rgba(77,77,77));
    border: 1px solid #222;
    border-radius: 0 0 5px 5px;
    height: 140px;
    margin: 0 -22px 0 -22px;
    width: 44px;
    z-index: 2;
}

.piano-keys span {
    bottom: 20px;
    font-size: 1.13rem;
    position: absolute;
    text-align: center;
    width: 100%;
}

.piano-keys .white.active {
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.4);
  }

.piano-keys .black.active {
    background: linear-gradient(to bottom, #000, #434343);
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.4);
  }
